/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
}

/* BODY */
body{
   background-color: rgba(158, 158, 158, 0.295);
}

/* CONTAINER */
.container{
    margin: 0 auto;
    width: 1920px;
    box-shadow: 0 10px 100px rgba(0,0,0,0.5);
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */
header{
    background-image: url(../HeaderOneImage.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 1030px;
    width: 1920px;
}
.logo{
    width: 215,87px;
    height: 49px;

}
.logo_vector{
    margin-left: 15px;
    margin-bottom: 6px;
}

.nav-wrapper{
    width:1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 26px;
}
.burger{
    width: 30px;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scale(-1, 1)

}
.burger_line_one{
    border-bottom: 4px solid black;
    border-radius: 10px;
    width: 30px;
}
.burger_line_two{
    border-bottom: 4px solid black;
    border-radius: 10px;
    width: 23px;
}
.burger_line_tree{
    border-bottom: 4px solid black;
    border-radius: 10px;
    width: 15px;
}
.burger:hover>.burger_line{
    border-color: rgba(0, 0, 0, 0.384);
    transition: border-color 0.4s ;
}
.header_text{
    margin: 190px auto;
    text-align: center;
    width: 765px;
    height: 232px;
}
.header_text h1{
    font-size: 74px;
    font-weight: 300;
    text-transform: uppercase;
    font-weight:200;
   
}
.header_text p{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 800;
    color: black;
}

.header_button{
    background: none;
    border: 1px solid black;
    font-size: 16px;
    padding: 16px;
    width: 280px;
    margin-top: 62px;   
}

.header_button::after{
    content: url(../img/Vectorline.png);
    margin-left: 44px;
}
.header_button:hover{
    background-color: rgba(0, 0, 0, 0.219);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.164);
    transition: box-shadow 2s;
    transition: background-color 1s;
}


/* section */
.section{
    display: flex;
    width: 1920px;
    }
.section_img{
    width: 960px;
    height: 940px;
}
.section_img img{
    height: 100%;
}

.section_text{
    width: 960px;
    height: 940px;
    
}
.section_bar {
    height: 363px;
    margin: 300px auto;
  
}
.section_bar h1{
    font-size: 48px;
    text-align: center;
}
.section_texting{
    height: 260px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.section_texting p{
    font-size: 16px;
    text-align: right;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
}

.section_flex{
    width: 700px;
    margin-top: 50px;
    margin-left: 107px;
    display: flex;
    justify-content: space-between;
}
.section_slider div{
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;

}
.section_slider {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 165px;
    width: 15px;
}
.section_slider .slider_white{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0) ;
}


/* LEPTOP_SECTION */
.leptop_section{
    height: 940px;
    width: 1920px;
    background-color: white;
}
.leptop_section_block h1{
    text-align: center;
    padding-top: 60px;
    font-size: 48px;
    font-weight: 800px;
}
.leptop_section_block_flex{
    width: 1430px;
    height: 710px;
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    margin-left: 353px;
}

.leptop_section_block_texting{
    display: flex;
    position: relative;
}
.leptop_section_block_button{
    position: absolute;
    margin: 210px 67px 500px 840px;
    border: 1px solid black;
    background: none;
    font-size: 16px;
    font-weight: 700;
    height: 55px;
    width: 229px;
    text-align: center;
}

.leptop_section_block_button::after{
    content: url(../img/Vectorline.png);
    margin-left: 10px;
}
.leptop_section_block_slider{
    margin-top: 187px;
}

.leptop_section_block_button:hover{
    background-color: rgba(8, 162, 252, 0.219);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.164);
    transition: box-shadow 2s;
    transition: background-color 1s;
}


/* GRID_PANEL */
.grid_panel{
    width: 1920px;
    height: 949px;
    background-color: rgb(0, 0, 0);
}

.grid_panel h1{
    font-size: 48px;
    color: white;
    text-align: center;
    padding-top: 90px;
}

/* LAMP_PANEL */
.grid_panel_black{
    padding-top: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  224px 224px 224px 224px 224px;
    grid-template-rows: 210px 210px 210px;
    width: 1119px;
    height: 630px;

}
.grid_panel_black div{
    padding-top: 46px;
    color: white;
    text-align: center;
}

.awrd1,.awrd2, .awrd3, .awrd4, .awrd5 ,.awrd6, .awrd7 ,.awrd8, .awrd9 ,.awrd10{
    border-bottom: 1px solid white;
}
.awrd1 ,.awrd2 ,.awrd3 ,.awrd4 ,.awrd6 ,.awrd7 ,.awrd9 ,.awrd8,.awrd11,.awrd12,.awrd13,.awrd14{
    border-right:1px solid white ;
}
.awrd {
    margin-top: 20px;
    font-size: 16px;
} 

.awrd1:hover ,  .awrd2:hover ,   .awrd3:hover, .awrd4:hover,  .awrd5:hover, .awrd6:hover,  .awrd7:hover ,  .awrd8:hover, .awrd9:hover,  .awrd10:hover ,  .awrd11:hover , .awrd12:hover ,  .awrd13:hover,  .awrd14:hover ,  .awrd15:hover{ 
    background-color: rgba(27, 27, 27, 0.384);
    box-shadow: 2px 3px 9px rgb(255, 255, 255);
    transition: box-shadow 0.3s;
}
.grid_panel_black_button{
    width: 185px;
    height: 55px;
    border: 1px solid white;
    background: none;
    font-size: 16px;
    font-weight: bold; 
    color: white;  
    margin-top: 50px;
}
.grid_panel_black_button::after{
    content: url(../VectorWhite.png);
    margin-left: 16px;

}

/* LAMP_PANEL */
.lamp_panel{
    background-image: url(../img/13e3b8a33eb0648c3ae4a07e21657328\ 1.png);
    height: 900px;
}
.lamp_panel_text{
    width: 1112px;
    height: 355px;
    margin: 0 auto;
    padding-top: 336px;
    font-family: Montserrat;
}

.lamp_panel_block{
    grid-template-columns:  556px  556px;
    grid-template-rows: 115px  115px  ;
    display: grid;
    margin-top: 90px;
}
.lamp_panel_block_card{
    width: 556;
    height:100 ;
    display: flex;
    
}
.lamp_panel_block_card img{
    height: 45%;
}
.lamp_panel_block_card_text{
    width: 400px;
    height: 110px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}
.lamp_panel_block_card_text p{
    text-align:left;
}

/* SECTION_FORM_AND_CARD */


.footer_section{
    width: 1920px;
    display: flex;
    background-color: black;

}

.footer_form{
background-image: url(../img/Rectangle\ 4.png);
width: 935px;
height: 940px;
color: white;
}
.footer_form_text{
    width: 515px;
    height: 590px;
    margin: 173px 73px 173px 353px ;
}
.footer_form_input{
    margin-top: 80px;
}
.footer_form_input input{
    width: 515px;
    background: none;
    border:none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 40px;
}
.footer_form_input p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.input_form{
    height: 80px;
}
.footer_form_button{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 194px;
    height: 55px;
    background: none;
    border: 1px solid white;
    color: white;
}
.footer_form_button::after{
    content: url(../VectorWhite.png);
    margin-left: 33px;
}
.footer_card{
    width: 600px;
    height: 470px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:173px 353px 286px 30px;
}
.footer_card h1{
    text-align: center;
    font-size: 48px;
    font-weight: 500px;
}
.footer_form_card_price{
    display: flex;
    justify-content: space-between;
    
}
.footer_price {
    width: 194px;
    height: 284px;
    border: 1px solid rgb(255, 255, 255);
}
.footer_price::before{
    content:url(../img/Ellipse\ 7.png);
    position: absolute;
    z-index: 1;
    margin-left: 58px;
}
.footer_price_blue{
    background: linear-gradient(180deg, #61B3C9 0%, #074D88 100%);
    border: none;
}
.footer_price_text{
    width: 170px;
    height: 196px;
    margin: 59px auto;
    font-family: Montserrat;
   
}
.footer_text >h1{
    font-size: 20px;
    text-align: left;
}
.footer_text >p{
    font-size: 14px;
    text-decoration-line: line-through;
    margin-bottom: 6px;
}
.footer_text{
    margin-top: 44px;
}
.footer_price_text > h1{
    font-size: 20px;
    text-align: left;
}
.footer_price_text p{
    font-size: 16px;
    margin-top: 16px;
}

/* FOOTER_MAIN */

footer{
   color: white;
   font-family: Montserrat; 
}
.footer_main{
    height: 548px;
    background-color: #17181C;
    position: absolute;
    width: 1920px ;

}
.footer_conten_main{
    width: 1225px;
    height: 360px;
    margin: 103px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.footer_main_text{
    display: flex;
    justify-content: space-between;

}
.footer_main_text div{
    width: 276px;
    height: 243px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}
.footer_main_line{
    border: 1px solid #595959;
    width: 1200px;
    margin: 0 auto;
}
.footer_main_links{
    display: flex;
    justify-content: space-between;
}
.footer_link{
    width: 190px;
}
.footer_main_contacs{
   display: flex;
   justify-content: space-between;
}
.footer_main_text p {
    font-size: 16px;
}
.footer_main_text h1{
    font-size: 20px;
}

